@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .content{
    @apply antialiased text-sm break-words lg:tracking-wide lg:leading-7;
  }
  .input-text{
    @apply antialiased w-7/12 text-sm md:text-base bg-common-light placeholder:text-common-grey py-2 px-3 lg:py-3 lg:px-6 outline-none
  }
  .btn-next-input{
    @apply text-white antialiased tracking-wide font-bold text-sm w-5/12 py-2 px-3 lg:px-6 lg:py-3
  }
  .head-text{
    @apply text-xl font-bold sm:text-2xl lg:font-extrabold lg:text-3xl
  }
  .ul-items {
    @apply flex gap-3 sm:gap-3 md:gap-5 xl:gap-12;
  }
  .dropdown-item {
    @apply hover:bg-common-light py-2 tracking-wide;
  }
  footer * {
    @apply text-white;
  }
  .logo-list {
    @apply flex flex-col gap-1 min-[500px]:gap-2;
  }
  .footer-header {
    @apply mb-3 font-bold;
  }
  .logo-list img {
    @apply max-[500px]:w-6;
  }
  .logo-list a {
    @apply opacity-85 max-[500px]:text-xs;
  }
  .btn {
    @apply text-white antialiased tracking-wide text-sm lg:text-base font-bold py-2 px-3 lg:px-6 lg:py-3 bg-primary;
  }
  .mic-lr-box {
    @apply rounded-[50%] bg-white flex justify-center items-center absolute;
  }
  /* ------------------REAL CSS----------------------- */
  .dropdown-list{
    box-shadow: 0 0 10px #503AE7;
  }
  .mic-lr-box::before {
    content: "+1";
    border-radius: 50%;
    background-color: #1ad993;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mic-l-box::before {
    width: 32px;
    height: 32px;
    font-weight: bold;
  }
  .mic-r-box::before {
    width: 18px;
    height: 18px;
    font-size: 10px;
  }
  @media screen and (max-width: 768px) {
    .mic-l-box::before {
      width: 20px;
      height: 20px;
      font-weight: normal;
      font-size: 10px;
    }
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
